.hidden{
    display: none;
}

body.dark{
    background-color: #333333;
    color: #ffffff;
}

h1{
    text-align: center;
    text-decoration: underline;
}

.btn-div{
    text-align: center;
}

#game-setup{
    display: flex;
    justify-content: center;
}

#game-setup > *{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

h2{
    font-size: 15px;
}

p#timer, p#game-status {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
}

#number-container > *{
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#play-board, #solve-board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    
}
.tile {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

p.selected{
    background-color: lightblue;
}

p.incorrect {
    color: red;
}

.right-border{
    border-right: 4px solid black;
}

.bottom-border{
    border-bottom: 4px solid black;
}

footer{
    background-color: lightgray;
    text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
  


/* Style tab links */
.tablink {
background-color: #555;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
width: 25%;
}

.tablink:hover {
background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

h3{
    font-size: 12pt;
    text-align: center;
}

.bottom-options {
    margin: 0 auto;
    text-align: center;
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.arrow {
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 20px;
    background-color: white;
    outline: none;
}

.back{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.front{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#sol-counter{
    font-size: 12pt;
}